<h1>Create a new Album</h1>

<form action="/albums" method="post">
  <input type="text" name="album[name]" placeholder="Album Name">
  <input type="text" name="album[description]" placeholder="Album Description">
  <input type="submit">
</form>